<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>


    </head>
    <body>
        <canvas id="myChart1" height="300" width="500"></canvas>

        <canvas id="myChart2" height="300" width="500"></canvas>

        <canvas id="myChart3" height="300" width="500"></canvas>

        <canvas id="myChart4" height="300" width="500"></canvas>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        <script type="text/javascript">
            var appData = {
            budget_data: '{{budget_data}}',
            users_labels: '{{users_labels}}',
            users_data: '{{users_data}}',
            users_numbers: '{{users_numbers}}',
            states_labels: '{{states_labels}}',
            states_data: '{{states_data}}'
        }


    </script>
        <script src="/static/js/main.js"></script>
    </body>
</html>